<!DOCTYPE html>
<html>
<head>
    <title>Bookstore</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>

<header class="bg-dark text-white p-4 text-center">
    <h1>Welcome to Bookstore</h1>
</header>

<div class="container mt-4">
    {% block content %}{% endblock %}
</div>

<footer class="bg-dark text-white text-center p-4 mt-5">
    &copy; 2023 Bookstore Inc.
</footer>

<!-- Include Bootstrap JS and Popper.js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
